/FieldInfo.class
/MetadataReader.class
/MetadataWriter.class
/SerDes$1.class
/SerDes$10.class
/SerDes$11.class
/SerDes$12.class
/SerDes$13.class
/SerDes$14.class
/SerDes$2.class
/SerDes$3.class
/SerDes$4.class
/SerDes$5.class
/SerDes$6.class
/SerDes$7.class
/SerDes$8.class
/SerDes$9.class
/SerDes.class
/TaggedReaderWriter.class
/TypeReaderWriter.class
