/AntiBot$Mode.class
/AntiBot.class
/Criticals$Mode.class
/Criticals.class
/Killaura$AimMode.class
/Killaura$BlockMode.class
/Killaura$LockMode.class
/Killaura$Mode.class
/Killaura$TargetHudMode.class
/Killaura$TargetUIMode.class
/Killaura.class
/Velocity$Mode.class
/Velocity.class
